html {
  color: #fff;
  line-height: 1.4;
  background: #000000;
}

body {
  margin-top: 10vh;
  margin-left: 10vh;
}

.heading {
  font-size: 24px;
}

.subheading {
  font-size: 18px;
  margin-bottom: 10vh;
}

.main {
  font-size: 14px;
  margin-bottom: 10vh;
}

.footer {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: goldenrod;
}

